*.py[cod]

# Packages
*.log
*.egg
*.egg-info
*.pem
*.csv
*.twb
*.twbx
*.DS_Store
*.RData
*.Rhistory
*.Python
*.html
*.idea
*.doc
*.docx
*.ppt
*.pptx
*.pdf
*.pem
*.ipynb
*.cfg
*.db
*.sav
*.pid
*.zip
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

*.ipynb_checkpoints/

# Individual Connection Parameters
connection_parameters.py

# Yo api call
*example_yo_api_call.txt

# Installer logs
pip-log.txt

other/
env/
venv/
venv
risk_score_env/
log/
logs/
local/
web_scraper/data/
input_data/
output_data/
results/
Gsm/config
metastore_db/

test_features.py

client_secret.json
credentials.json
service_account.json

.vscode/
*.jar
*.ini