*.py[cod]

# Packages
*.log
*.egg
*.egg-info
*.pem
*.csv
*.twb
*.twbx
*.DS_Store
*.RData
*.Rhistory
*.Python
*.html
*.idea
*.doc
*.docx
*.ppt
*.pptx
*.pdf
*.pem
*.ipynb
*.cfg
*.db
*.sav
*.pid
*.zip
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

*.ipynb_checkpoints/

# Individual Connection Parameters
connection_parameters.py

# Installer logs
pip-log.txt

env/
venv/
venv
log/
logs/
local/
acquire_data/data/

client_secret.json
credentials.json
service_account.json

.vscode/
*.jar
*.ini
*.txt
