[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
bs4 = "*"
SQLAlchemy = "*"
PyMySQL = "*"
wget = "*"
pytz = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = {git = "git://github.com/psf/black"}

[requires]
python_version = "3.8"
